body {
    .part2 {
        .photo_area { display: flex; justify-content: center;}
        .favorite_snap .favorite { width: 100%; max-width: 1920px; opacity: 0;}
        .favorite_snap { position: relative !important;}
        .snap_img {
            width: 40%;
            position: absolute !important;
            img {width: 100% !important;}
        }
        .favorite_snap {
            position: relative;
            .skate-shoes { transform: translate(20%, 560%); }
            .paper-symbol { transform: translate(-20%, 300%); }
            .shine-symbol { transform: translate(20%, 10%); }
            .part2-img-ab {width: 200px !important;}
            .img1 { top: 50%; left: 50%; transform: translate(-100%, -80%); }
            .img1:hover { top: 50%; left: 50%; transform: translate(-100%, -82%); }
            .img2 { top: 50%; right: 50%; transform: translate(100%, -120%); }
            .img2:hover { top: 50%; right: 50%; transform: translate(100%, -122%); }
            .img3 { bottom: 50%; left: 50%; transform: translate(-80%, 100%); }
            .img3:hover { bottom: 50%; left: 50%; transform: translate(-80%, 98%); }
            .img4 { bottom: 50%; right: 50%; transform: translate(110%, 90%); }
            .img4:hover { bottom: 50%; right: 50%; transform: translate(110%, 88%); }
            .polaroid { transform: translate(-100%, -250%); }
            .center_img { width: 25%; position: absolute; top: 50%; left: 50%; z-index: 99; transform: translate(-45%, -65%);}
        }
    }

    @media screen and (max-width: 1620px) {
        .part2-cloud2 { width: 15% !important; left: -20px; top: 100%; min-width: 100px;}
        .part2_flower_cloud {width: 15%; top: 20px; right: 180px !important; min-width: 180px;}
        .part2 .alert_boxes .alert_box.box1 { max-width: 680px;}
        .part2_screen { right: 10% !important;}
    }

    @media screen and (max-width: 1300px) {
        .part2 {
            .part2-cloud1 { width: 10% !important; right: -10px; min-width: 70px;}
            .part2-cloud2 { width: 15% !important; left: -20px; top: 100%; min-width: 100px;}
            .part2_flower_cloud {width: 15%; top: 0; right: 40px; min-width: 180px;}
            .alert_boxes { margin: 0 !important; display: flex; flex-direction: column; align-items: center; position: relative; }
            .alert_box { width: 100%; max-width: 600px !important; }
            .alert_boxes ._tit { font-size: 26px !important; line-height: 32px !important; }
            .alert_boxes ._desc { font-size: 20px !important; line-height: 28px !important; }
            .game-group { position: relative; margin: 0; width: 100%;}
            .alert_boxes .box2 {margin: 0 !important;}
            .alert_box.box2 { margin: 40px 0 60px !important; }
            .part2_screen.part2-img-ab { display: none;}
            .alert_box.box4 { left: 0 !important; margin-top: 240px !important; }
            .game-run.part2-img-ab { width: 460px; transform: translate(40%, 0); }
            .game-start.part2-img-ab { width: 100px; left: 60%; }
            .part2_guitar { width: 30%; left: 50%; bottom: 110px; }
        }

    }

    @media screen and (max-width: 1024px) {
        .part2 {
            .logo_text { display: flex; justify-content: center;}
            .text_line1 { font-size: 22px !important; line-height: 30px !important; letter-spacing: -3% !important; color: rgba(253, 255, 146, 1) !important;}
            .text_line2 { margin: 0 !important;font-size: 22px !important; line-height: 30px !important; letter-spacing: -3% !important; color: rgba(253, 255, 146, 1) !important; }
            .question_area { padding:  0 !important;}
            .photo_area { padding: 0;}
            .favorite_snap .paper-symbol { width: 106px !important; transform: translate(-20%, 500%); }
            .question_tit { font-size: 24px !important; word-break: keep-all; }
            .question_desc { margin-top: 12px; font-size: 18px !important; line-height:  26px !important; word-break: keep-all;}
            .game-run.part2-img-ab { width: 460px; transform: translate(16%, 0); }
            .game-start.part2-img-ab { width: 100px; left: 60%; }
        }
    }

    @media screen and (max-width: 768px) {
        .part2 {
            .question_tit { font-size: 18px !important; word-break: keep-all; }
            .question_desc { margin-top: 12px; font-size: 14px !important; line-height:  22px !important; word-break: keep-all;}
            .favorite_snap  {
              .skate-shoes { transform: translate(20%, 900%); width: 126px !important; }
              .paper-symbol { width: 106px !important; transform: translate(-20%, 340%); }
              .shine-symbol { transform: translate(20%, 10%); width: 80px !important; transform: translate(-60%, 80%); }
            }
            .alert_box { width: 338px !important; padding: 0 !important; }
            .alert_desc { padding: 20px 20px 0 !important;}
            .alert_boxes ._tit { font-size: 17px !important; line-height: 28px !important; padding: 0 !important; }
            .alert_boxes ._desc { font-size: 14px !important; line-height: 24px !important; }
            .alert_box.box4 { left: 0 !important; margin-top: 140px !important; }
            .game-run.part2-img-ab { width: 270px; transform: translate(16%, 0); }
            .game-start.part2-img-ab { width: 50px; left: 60%; }
        }
    }
}