body {
    width: 100%;
    .part2 {
        .photo_area { display: flex; justify-content: center;}
        img.part2_screen.part2-img-ab.only_pc { display: none; }
        #gamePopup { position: absolute; right: 20%; }
        .favorite_snap .favorite { width: 100%; max-width: 1920px; opacity: 0;}
        .favorite_snap { position: relative !important;}
        .snap_img {
            width: 40%;
            position: absolute !important;
            img {width: 70% !important;}
        }
        .favorite_snap {
            position: relative;margin-top:-20vh;
            .skate-shoes { transform: translate(20%, 560%); }
            .paper-symbol { transform: translate(-20%, 300%); }
            .shine-symbol { transform: translate(20%, 10%); }
            .part2-img-ab {width: 200px !important;}
            .img1 { top: 50%; left: 50%; transform: translate(-100%, -80%); }
            .img1:hover { top: 50%; left: 50%; transform: translate(-100%, -82%); }
            .img2 { top: 50%; right: 50%; transform: translate(100%, -120%); }
            .img2:hover { top: 50%; right: 50%; transform: translate(100%, -122%); }
            .img3 { bottom: 50%; left: 50%; transform: translate(-80%, 100%); }
            .img3:hover { bottom: 50%; left: 50%; transform: translate(-80%, 98%); }
            .img4 { bottom: 50%; right: 50%; transform: translate(110%, 90%); }
            .img4:hover { bottom: 50%; right: 50%; transform: translate(110%, 88%); }
            .polaroid { transform: translate(-100%, -250%); }
            .center_img { width: 25%; position: absolute; top: 50%; left: 50%; z-index: 99; transform: translate(-45%, -65%);}
        }
    }

    .part4 {
        .small_pc_img { display: none; }
    }

    @media screen and (max-width: 1680px) {
        .part4 {
            .descbox { font-size: 32px; line-height: 48px;}
            .naevis_logo { text-align: center; padding: 0; margin-top: 40px;}
            .chatbox { width: 100%; box-sizing: border-box; padding: 0 24px; margin-top: 240px; position: relative; }
            .chat-bubble.right { margin: 0 !important;}
            .chat_container { display: flex; flex-direction: column; align-items: center; margin-bottom: 30px; gap: 30px; }
            .bic_pc_img { display: none; }
            .small_pc_img { display: inline-block }
            .q2-img { left: auto; width: 114px; top: auto; transform: translate(-200%, -100%); }
            .planet { width: 180px; top: 40px; }
            .chat_container.first .right { margin-top: 120px !important; }
            .q3-img { position: absolute; width: 143px !important; transform: translate(-50%, 70%); z-index: 1; }
            .chatbox .chat_container .chat-bubble.left:before { display: none; }
            .mobile-imgs { position: relative; z-index: 5; }
            .mini-karina-small { position: absolute; top: 0; right: 50%; transform: translate(150%, -45%); width: 180px;}
            .karina-small { position: absolute; top: 10%; right: 50%; transform: translate(150%, 0); width: 180px;}
        }
    }

    @media screen and (max-width: 1620px) {
        .loading-video video {width: 100%; background-color: black;}

        .main .main-wrapper .logo_img img { width: 90% !important; margin-bottom: 60px; }
        .main .main-wrapper .logo_text { justify-content: flex-end; transform: translateY(20%); }
        .main .main-wrapper .logo_text .text1 { display: none; }
        .main .main-wrapper .logo_text :is(.text2, .text3) { text-align: center; }
        .main .main-wrapper .interview_txt {justify-content: center; text-align: center; color: black; position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%) !important; font-weight: bold; padding: 0;}

        .part2-cloud2 { width: 15% !important; left: -20px; top: 100%; min-width: 100px;}
        .part2_flower_cloud {width: 15%; top: 20px; right: 180px !important; min-width: 180px;}
        .part2 .alert_boxes .alert_box.box1 { max-width: 680px;}
        .part2_screen { right: 10% !important;}
    }

    @media screen and (max-width: 1300px) {
        .part2 {
            .part2-cloud1 { width: 10% !important; right: -10px; min-width: 70px;}
            .part2-cloud2 { width: 15% !important; left: -20px; top: 100%; min-width: 100px;}
            .part2_flower_cloud {width: 15%; top: 0; right: 40px; min-width: 180px;}
            .alert_boxes { margin: 0 !important; display: flex; flex-direction: column; align-items: center; position: relative; }
            .alert_box { width: 100%; max-width: 600px !important; }
            .alert_boxes ._tit { font-size: 26px !important; line-height: 32px !important; }
            .alert_boxes ._desc { font-size: 20px !important; line-height: 28px !important; }
            .game-group { position: relative; margin: 0; width: 100%;}
            .alert_boxes .box2 {margin: 0 !important;}
            .alert_box.box2 { margin: 40px 0 60px !important; }
            .part2_screen.part2-img-ab { display: none;}
            .alert_box.box4 { left: 0 !important; margin-top: 240px !important; }
            .game-run.part2-img-ab { width: 460px; transform: translate(40%, 0); }
            .game-start.part2-img-ab { width: 100px; left: 60%; }
            .part2_guitar { width: 30%; left: 50%; bottom: 110px; }
            #gamePopup { position: absolute; top: 50%; right: 50%; transform: translateX(50%) !important; }
        }

        .part3 {
            .interview { flex-direction: column; align-items: center; gap: 70px; }
            .interview.type2 { flex-direction: column-reverse; }
            .interview_left { margin: 0 !important; }
        }

        .part4 {
            .descbox { font-size: 28px; }
            .q3-img { position: absolute; width: 143px !important; transform: translate(50%, 70%); z-index: 1; }
        }

    }

    @media screen and (max-width: 1024px) {
        .main .main-wrapper .logo_img img { width: 90% !important; margin-bottom: 60px; }
        .main .main-wrapper .logo_text :is(.text2, .text3) img { width: 80%;}

        .part2 {
            .logo_text { display: flex; justify-content: center;}
            .text_line1 { font-size: 22px !important; line-height: 30px !important; letter-spacing: -3% !important; color: rgba(253, 255, 146, 1) !important;}
            .text_line2 { margin: 0 !important;font-size: 22px !important; line-height: 30px !important; letter-spacing: -3% !important; color: rgba(253, 255, 146, 1) !important; }
            .question_area { padding:  0 !important;}
            .photo_area { padding: 0;}
            .favorite_snap .paper-symbol { width: 106px !important; transform: translate(-20%, 500%); }
            .question_tit { font-size: 24px !important; word-break: keep-all; }
            .question_desc { margin-top: 12px; font-size: 18px !important; line-height:  26px !important; word-break: keep-all;}
            .game-run.part2-img-ab { width: 460px; transform: translate(16%, 0); }
            .game-start.part2-img-ab { width: 100px; left: 60%; }
        }

        .part3 {
            .text_box { margin-bottom: 60px; }
            .text_box p { font-size: 28px !important; font-weight: 400; line-height: 30px; }
            .music-container {margin-bottom: 120px; }
        }

        .part4 {
            .after_all { padding: 0; display: flex; justify-content: center; }
            .after_all img { width: 400px !important; }
            .chat-bubble { padding: 16px 20px !important;}
            .chat-bubble.left {margin: 0 !important; transform: translateX(-10%); }
            .chat-bubble.left p { font-size: 20px !important; font-weight: bold; }
            .chat-bubble.right {margin: 0 !important; transform: translateX(10%); }
            .chat-bubble.right p { font-size: 19px !important; }
            .q3-img { position: absolute; width: 143px !important; transform: translate(50%, 60%); z-index: 1; }
            .chat-bubble.right { z-index: 3;}
            .chatbox .chat_container .chat-bubble.right::after { width: 18px; height: 24px; right: -16px; background-size: contain;}
            .chatbox .chat_container .chat-bubble.left:after { width: 18px; height: 24px; left: -16px; background-size: contain;}
        }
    }

    @media screen and (max-width: 768px) {
        .main .main-wrapper .logo_img {margin-top: 0px;}
        .main .main-wrapper .logo_text { transform: translateY(20%);}
        .main .main-wrapper .logo_text :is(.text2, .text3) img { width: 60%; transform: translateY(0%) !important;}
        .main .main-wrapper .interview_txt { font-size: 16px;}

        .part2 {
            .question_tit { font-size: 18px !important; word-break: keep-all; }
            .question_desc { margin-top: 12px; font-size: 14px !important; line-height:  22px !important; word-break: keep-all;}
            .favorite_snap  {
              .skate-shoes { transform: translate(20%, 900%); width: 126px !important; }
              .paper-symbol { width: 106px !important; transform: translate(-20%, 340%); }
              .shine-symbol { transform: translate(20%, 10%); width: 80px !important; transform: translate(-60%, 80%); }
            }
            .alert_box { width: 338px !important; padding: 0 !important; }
            .alert_desc { padding: 20px 20px 0 !important;}
            .alert_boxes ._tit { font-size: 17px !important; line-height: 28px !important; padding: 0 !important; }
            .alert_boxes ._desc { font-size: 14px !important; line-height: 24px !important; }
            .alert_box.box4 { left: 0 !important; margin-top: 140px !important; }
            .game-run.part2-img-ab { width: 270px; transform: translate(16%, 0); }
            .game-start.part2-img-ab { width: 50px; left: 60%; }
        }

        .part3 { 
            .part_label { font-size: 15px; line-height: 26px; margin: 100px 0 24px !important; }
            .head_line { font-size: 62px; line-height: 62px; margin: 0 0 80px; }
            .interview { gap: 40px; }
            .interview img {
                width: 100%;
            }
            .interview .inner { margin-top: 30px !important; }
            .interview_question { font-size: 17px !important; line-height: 23px !important; font-weight: 700 !important; }
            .interv_desc { font-size: 14px !important; font-weight: 400 !important; line-height: 24px !important;}
        }

        .part4 {
            .after_all img { width: 247px !important; }
            .naevis_logo img { width: 249px; }
            .chat-bubble.left p { font-size: 17px !important; font-weight: bold;  line-height: 23px !important; margin: 0 !important;}
            .chat-bubble.right p { font-size: 16px !important; line-height: 25px !important; }
            .chat-bubble { width: 348px !important; transform: translate(0, 0) !important;}
            .descbox { font-size: 20px; line-height:  28px;}
            .q2-img { left: auto; width: 114px; top: auto; transform: translate(-100%, -100%); }
            .mini-karina-small { position: absolute; top: 0; right: 50%; transform: translate(120%, -45%); width: 160px;}
            .karina-small { position: absolute; top: 15%; right: 50%; transform: translate(130%, 0); width: 180px; width: 110px;}
        }
    }
}